# Access and Archive Inundation from 1,000 Climate Realizations (No Obstruction)

The purpose of this notebook is to access, process, and archive inundation acrosss the 1,000 climate realizations and approximately 3,500 daily events that trigger the initiation event.

## Parameters and Imports

In [1]:
%matplotlib inline

In [2]:
import scipy.stats as sstats
from IPython.display import display, HTML
import os
import datetime as dt
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from matplotlib.lines import Line2D

In [3]:
IN_DIR = r'C:\Users\nmart\Dropbox\MyPapers\Flood_Risk_PRA\Flood_Risk_Model\PRA_EventTrees_no_Blockage\Results'

In [4]:
XLSX_NAME_ROOT = "R%04dto%04d_Flooding_Summary_All.xlsx"
REAL_INC = 50
START_REAL = 1
FINAL_REAL = 1000

Revised cost calculation in "Flood_Risk_PRA\Damage_Cost\NFIP_Cost_Estimator.xlsx"

In [5]:
ccA = -72769.0
ccB = 414681.0 
ccC = -678009.0 
ccD = 498224.0
ccE = 37110.0
MAX_COST = 750000.0

In [6]:
def costCalc( IDepth, ccA, ccB, ccC, ccD, ccE, MAX_COST ):
    """ Custom inundation damage cost curve calculation.
    
    Fourth degree polynomial with coefficients: A, B, C, D, E, and
    cost limited to MAX_COST.
    
    Args:
        IDepth (float): depth of inundation in meters
        ccA (float): A coefficient for x^4
        ccB (float): B coefficient for x^3
        ccC (float): C coefficient for x^2
        ccD (float): D coefficient for x^1
        ccE (float): E coefficient for x^0
        
    Returns:
        iCost (float): varies between 0.0 and MAX_COST
    """
    from math import pow
    # check for positive depth and extrapolation.
    if IDepth <= 0.0:
        return 0.0
    elif IDepth >= 2.75:
        return MAX_COST
    # end if
    # calculate the polynomial
    estCost = ( ( ccA * pow( IDepth, 4.0 ) ) + ( ccB * pow( IDepth, 3.0 ) ) + ( ccC * pow(IDepth, 2.0) ) +
                ( ccD * pow( IDepth, 1.0 ) ) + ccE )
    if estCost > MAX_COST:
        iCost = MAX_COST
    elif estCost <= 0.0:
        iCost = 0.0
    else:
        iCost = estCost
    # end if
    return iCost

## Process and Compile Simulation Results

In [7]:
RealNumList = list()
RealCostList = list()
SummaryDF_List = list()
EventDF_List = list()

In [8]:
rnCnt = 1

In [9]:
startInd = START_REAL
endInd = REAL_INC
while (startInd <= FINAL_REAL):
    # get the name for this spreadsheet
    InFiler = os.path.normpath( os.path.join( IN_DIR, XLSX_NAME_ROOT % ( startInd, endInd ) ) )
    if not os.path.isfile( InFiler ):
        print("File %s does not exist!!!" % InFiler)
        break
    # end if
    print("Working on MC collation run %d" % rnCnt)
    curSumDF = pd.read_excel( InFiler, sheet_name="Summary", index_col=0, header=0, parse_dates=[3,], )
    SummaryDF_List.append( curSumDF )
    # now go through the summary sheet and read in the individual flooding events.
    preReal = 0
    totRealCost = 0.0
    for indx1, row in curSumDF.iterrows():
        cReal = int( row["Realization"] )
        # determine if can assign total cost and set current realization
        if cReal == preReal:
            curReal = preReal
        else:
            curReal = cReal
            if preReal != 0:
                RealNumList.append( preReal )
                RealCostList.append( totRealCost )
            # end if
            preReal = cReal
            totRealCost = 0.0
        # end if
        # get the flood number so can read in the "right" sheet
        cFl = int( row["Flood Num."] )
        sName = "Inun_R%04d_Fl%02d" % ( curReal, cFl )
        # read in this sheet and calculate total flood cost
        cFlDF = pd.read_excel( InFiler, sheet_name=sName, header=0, index_col=0, )
        # add climate realization and house index column
        cFlDF["Realization"] = curReal
        cFlDF["House_Ind"] = cFlDF.index
        # add cost estimate column
        cFlDF["Cost_Estimate"] = cFlDF.apply( lambda row: costCalc( row["FloodDepth_m"], ccA, ccB, ccC, ccD, ccE, MAX_COST ),
                                              axis=1, )
        # add this DataFrame to the tracking list
        EventDF_List.append( cFlDF )
        # calculate cost for this event for summary tracking
        totFloodCost = cFlDF["Cost_Estimate"].sum()
        totRealCost += totFloodCost
    # end summary iteration
    # increment counters
    startInd += REAL_INC
    endInd += REAL_INC
    rnCnt += 1
# end while loop
startInd, endInd

Working on MC collation run 1
Working on MC collation run 2
Working on MC collation run 3
Working on MC collation run 4
Working on MC collation run 5
Working on MC collation run 6
Working on MC collation run 7
Working on MC collation run 8
Working on MC collation run 9
Working on MC collation run 10
Working on MC collation run 11
Working on MC collation run 12
Working on MC collation run 13
Working on MC collation run 14
Working on MC collation run 15
Working on MC collation run 16
Working on MC collation run 17
Working on MC collation run 18
Working on MC collation run 19
Working on MC collation run 20

(1001, 1050)

## Output Processed and Collated

In [10]:
FullHouseRealDF = pd.concat( EventDF_List, ignore_index=True, )

In [11]:
OutFiler = os.path.normpath( os.path.join( IN_DIR, "FullHouseRealDF_noObs.pkl" ) )
FullHouseRealDF.to_pickle( OutFiler, compression='zip', protocol=-1, )

In [12]:
display( HTML( FullHouseRealDF.head().to_html() ) )

In [13]:
display( HTML( FullHouseRealDF.tail().to_html() ) )

In [14]:
display( HTML( FullHouseRealDF.describe().to_html() ) )

In [15]:
SumListDF = pd.concat( SummaryDF_List, ignore_index=True )

In [16]:
DataDict = { "Climate Realization" : np.array( RealNumList, dtype=np.int32 ),
             "Total Cost" : np.array( RealCostList, dtype=np.float32 ), }
OverviewDF = pd.DataFrame( data=DataDict )

In [17]:
OutFiler = os.path.normpath( os.path.join( IN_DIR, "Summary_CR1000_NoObs.xlsx" ) )

In [18]:
writer = pd.ExcelWriter( OutFiler )
workbook  = writer.book
format1 = workbook.add_format({'num_format': '#,##0.00'})
format2 = workbook.add_format({'num_format': '#,##0.000'})
format3 = workbook.add_format({'num_format': '#,##0'})
cLabel = "Overview"
OverviewDF.to_excel( writer, sheet_name=cLabel, )
# adjust columns
writer.sheets[cLabel].set_column( 0, 0, 8 )
for column in OverviewDF:
    column_width = max(OverviewDF[column].astype(str).map(len).max()+6, len(column)+6)
    col_idx = OverviewDF.columns.get_loc(column)
    if column in ["Date",]:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, )
    elif column in ["Climate Realization", "Flood Num."]:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, format3)
    else:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, format1)
# end for
cLabel = "Summary"
SumListDF.to_excel( writer, sheet_name=cLabel, )
# adjust columns
writer.sheets[cLabel].set_column( 0, 0, 18 )
for column in SumListDF:
    column_width = max(SumListDF[column].astype(str).map(len).max()+6, len(column)+6)
    col_idx = SumListDF.columns.get_loc(column)
    if column in ["Date",]:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, )
    elif column in ["Realization", "Flood Num."]:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, format3)
    else:
        writer.sheets[cLabel].set_column(col_idx+1, col_idx+1, column_width, format2)
# end for
writer.close()

In [19]:
display( HTML( OverviewDF.describe().to_html() ) )

In [20]:
display( HTML( SumListDF.tail().to_html() ) )

In [21]:
display( HTML( SumListDF.describe().to_html() ) )